{% extends 'supervisory/main.html' %}

{% block content %}

<br>

<div class="jumbotron">
    <div class="col">
        <div class="card card-body">
            <h1 align="center"> All Users </h1>
            <hr>

            <table class="table table-hover">
                <tr>
                    <th>Serial No.</th>
                    <th>User Name</th>
                    <th>Email ID</th>
                    <th>Details</th>
                </tr>

                    {% for customer in customers %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.email}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
                    {% endfor %}
                    </tr>

            </table>

        </div>
    </div>

</div>

{% endblock %}