{% extends 'supervisory/main.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">

<p> Are you sure you want to delete {{application}}</p>

<form action="{% url 'delete_hostel_app' application.id %}" method="post">
    {% csrf_token %}

    <a class="btn btn-warning" href="{% url 'hostelapps' %}"> Cancel </a>

    <input class="btn btn-danger" type="submit" name="Confirm">
</form>
        </div>
    </div>
</div>

{% endblock %}