{% extends 'supervisory/main.html' %}

{% block content %}


<div class="jumbotron">
    <div class="col-md">
        <div class="card card-body">
            <h1> Frequently Asked Questions! </h1>
            <hr>

            <pre><font style="font-family:times new roman; font-size: 18px">
<b>Q-1. Do you have separate mess for girls and boys?</b>

Ans.–  Yes, we have separate mess for girls and boys.

<b>Q-2. How many meals are provided ?</b>

Ans.–  Four meals, which includes Breakfast, Lunch, Evening Snacks and Dinner.

<b>Q-3. What is the capacity of your hostels for boys and girls?</b>

Ans.– The capacity for girls is 500 and 500 for boys.

<b>Q-4. Are there A/C and Non A/c rooms for hostellers?</b>

Ans. – Yes, we have both A/c and Non A/c rooms.

<b>Q-5. What is the process of allotment of seat?</b>

Ans.–  Allotment is on the first come first serve basis, usually, when the number of applicants are more than the number of hostel seats,
a waiting list is drawn up and allocation is as per the list and availability arising.

<b>Q-6. Do you have hostel accommodation with attached/ Common bathrooms?</b>

Ans.– We have accommodation with both attached and common bathrooms.

<b>Q.-7.What is the sharing capacity of rooms in hostels?</b>

Ans.–  We have cubical rooms only with a capacity of one person at a time.

<b>Q-8.  What are the charges for hostels?</b>

Ans – Check Hostel Fee Structure.

<b>Q-9. What types of facilities do you provide to the hostellers?</b>

Ans.–  Facilities include 24x7 security, 24×7 power back up, 24×7 internet connectivity, laundry, sports facilities, First Aid and medical facilities.
            </font></b>
</pre>

        </div>
    </div>

</div>

{% endblock content %}