{% extends 'supervisory/main.html' %}

{% block content %}


<div class="jumbotron">
    <div class="col-md">
        <div class="card card-body">
            <h1 align="center"> Hostel Fee Structure! </h1>
            <hr>
            <table class="table table-hover">
                <tr class="info">
                    <th>Sr. No.</th>
                    <th>Particulars of Fee</th>
                    <th>Amount in Rs.</th>
                </tr>


                    <tr>
                        <td>1</td>
                        <td>One time charges at the time of Admission<br>
                        Security + Admission Charges</td>
                        <td>5000</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Room Charges (Per Semester)</td>
                        <td>25000</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Mantainance Charges<br>
                        Utility Bills<br>
                        Janitorial Services<br>
                        Generator Charges
                        </td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Mess Charges
                        </td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Room Cooler / AC / Heater Charges
                        </td>
                        <td>5000</td>
                    </tr>
            </table>
        </div>
    </div>

</div>

{% endblock content %}