{% extends 'supervisory/main.html' %}

{% block content %}


<div class="jumbotron">
    <div class="col-md">
        <div class="card card-body">
            <h1 align="center"> Mess Menu / Time Table! </h1>
            <hr>
            <table class="table table-hover">
                <tr class="info">
                    <th>Timing / Day</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>


                    <tr>
                        <td>Breakfast <br>(07:00 - 09:00 AM)</td>
                        <td>Paratha<br> Egg Fried<br> Tea</td>
                        <td>Halwa Puri<br>Channa<br> Tea</td>
                        <td>Paratha<br> Egg Fried<br> Tea</td>
                        <td>Halwa Puri<br>Channa<br> Tea</td>
                        <td>Paratha<br> Egg Fried<br> Tea</td>
                        <td>Halwa Puri<br>Channa<br> Tea</td>
                        <td>Paratha<br> Egg Fried<br> Tea</td>
                    </tr>
                    <tr>
                        <td>Lunch <br>(01:00 - 03:00 PM)</td>
                        <td>Alu Palak<br>Raita<br>Roti</td>
                        <td>Chicken Nihari<br>Raita<br>Naan</td>
                        <td>Alu Palak<br>Raita<br>Roti</td>
                        <td>Chicken Nihari<br>Raita<br>Naan</td>
                        <td>Alu Palak<br>Raita<br>Roti</td>
                        <td>Chicken Nihari<br>Raita<br>Naan</td>
                        <td>Alu Palak<br>Raita<br>Roti</td>
                    </tr>
                    <tr>
                        <td>Dinner <br>(07:00 - 10:00 PM)</td>
                        <td>Chicken Biryani<br>Raita<br>Cold Drink</td>
                        <td>Mutton Karahi<br>Raita<br>Roti</td>
                        <td>Chicken Biryani<br>Raita<br>Cold Drink</td>
                        <td>Mutton Karahi<br>Raita<br>Roti</td>
                        <td>Chicken Biryani<br>Raita<br>Cold Drink</td>
                        <td>Mutton Karahi<br>Raita<br>Roti</td>
                        <td>Chicken Roast<br>Raita<br>Roti</td>
                    </tr>
            </table>
        </div>
    </div>

</div>

{% endblock content %}