{% extends 'supervisory/main.html' %}

{% block content %}

<style>

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 10px 36px;
}

.card:hover{
     transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
     background: #00fddb;
}

#link{
    text-decoration:none;
    color: black;
}

</style>

<br><br><br>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="card card-1">
        <h3>Apply for a Room!</h3>
          <hr>
          <p><a id="link" href="{% url 'hostel_apply' user.customer.id %}">Click here to fill an Application for Hostel Room!</a></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-1">
        <h3>Fee Structure!</h3>
          <hr>
          <p><a id="link" href="{% url 'fee_structure' %}">Click here to view fee structure of Rooms and Mess</a></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-1">
        <h3>Mess Meals!</h3>
          <hr>
          <p><a id="link" href="{% url 'meals' %}">Click here for complete list Meals that we provide!</a></p>
      </div>
    </div>

  </div>

  <br><br><br><br>
  <div class="row">

    <div class="col-md-4">
      <div class="card card-1">
        <h3>My Room!</h3>
          <hr>
          <p><a id="link" href="{% url 'user_room' %}">Click here to view the room that you have been allocated!</a></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-1">
        <h3>Rules</h3>
          <hr>
          <p><a id="link" href="{% url 'user-rules' %}">Click here to view a complete list of Hostel Rules</a></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card card-1">
        <h3>FAQ</h3>
         <hr>
          <p><a id="link" href="{% url 'faq' %}">Click here to view a list of frequently asked questions</a></p>
      </div>
    </div>

  </div>
</div>

{% endblock content %}