{% extends 'supervisory/main.html' %}

{% block content %}


<div class="jumbotron">
    <div class="col-md">
        <div class="card card-body">
            <h1 align="center"> Hostel Rules! </h1>
            <hr>
            <ul class="list-group">
                  <li class="list-group-item">
                      Smoking, Alcohol & Narcotic consumption is strictly prohibited
                      in and around the Hostel premises.
                      Strict action will be taken against offenders.
                  </li>
                  <li class="list-group-item">
                      Loitering in the Hostel will not be appreciated.
                  </li>
                  <li class="list-group-item">
                      The Management & Staff will not be responsible for personal belongings.
                  </li>
                  <li class="list-group-item">
                      Late comers will be penalized.
                  </li>
                  <li class="list-group-item">
                      Defacing walls, equipment, furniture etc., is strictly prohibited.
                  </li>
                  <li class="list-group-item">
                      Students must turn off all the electrical equipments & lights before leaving their rooms.
                  </li>
                  <li class="list-group-item">
                      Students are not allowed to organize any group activities in their room.
                  </li>
                  <li class="list-group-item">
                      Food will be served only in the designated Dining Hall(s)
                      and only during the specified timings.
                      Wasting food & water will not be encouraged.
                  </li>
                  <li class="list-group-item">
                      Tipping of Wardens, Security Guards, Cleaning staff etc., is not permitted.
                  </li>
                  <li class="list-group-item">
                      Students should not enter rooms of other students without permission.
                  </li>
                  <li class="list-group-item">
                      Students during their stay in the hostel will be governed by the management rules.
                  </li>
            </ul>
        </div>
    </div>

</div>

{% endblock content %}